{% extends 'base.html.twig' %}
{% block title %}Jeremie Cyrille
{% endblock %}
{% block body %}
{%include 'usnavbar.html.twig'%}
	<div class="content">
		<div class="container">
			<div class="row ">
				<div class="col-12">
					<span><img src="{{asset("build/coding-svg-clipart.svg")}}" alt="test" width="50em"></span>
				</div>
				<div class="col-12">
					<p class="fade-in-text text-al-center">
						A eternal dreamer who don't want to stop learning.<br>
							« Always aim for the moon, because even if you fail, you end up in the stars. »<br> 
						<a href="{{path('carrer')}}" class="external-dark bolt">Discover</a>
					</p>

				</div>
			</div>
		</div>
	</div>
	{%include 'footer.html.twig'%}
{% endblock %}
