{% extends 'base.html.twig' %}
{% block title %}Jeremie Cyrille
{% endblock %}
{% block body %}
	{%include 'frnavbar.html.twig'%}
	<div class="content">
		<div class="container">
			<div class="row ">
			<div class="col-12 text-al-center ">
					<img src="{{asset("build/coding-svg-clipart.svg")}}" alt="test">
				</div>
				<div class="col-12">
					<p class="fade-in-text">
						Un éternel reveur qui ne cesse jamais de vouloir aprendre.<br>
							« Il faut toujours viser la lune, car même en cas d'échec, on atterrit dans les étoiles. » <br>
						<a href="{{path('fr_carrer')}}" class="external-dark bolt">Decouvrir</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{%include 'footer.html.twig'%}{% endblock %}
