    <footer>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-3 mt-2">
                        <h3 class="margin-left">Get in touch</h3>
                    </div>
                    <div class="col-5 mt-2">
                        <h3>Contact me</h3>
                        <p ><a href="mailto:jeremie.cyrille@icloud.com" title="Send e-mail" onclick="gtag('event', 'click', {'event_category': 'Contact', 'event_action': 'E-mail', 'event_label': 'E-mail address clicked'});">jeremie.cyrille@icloud.com</a></p>
                        <p><a href="+33 07 64 84 56 88" title="Call" onclick="gtag('event', 'click', {'event_category': 'Contact', 'event_action': 'Phone', 'event_label': 'Phone number clicked'});">+33 07 64 84 56 88</a></p>
                    </div>
                    <div class="col-4 mt-2">
                        <h3>Follow me</h3>
                        <p><a href="https://www.instagram.com/jeremlands/" title="Visit Instagram profile" onclick="gtag('event', 'click', {'event_category': 'Contact', 'event_action': 'Instagram', 'event_label': 'Instagram link clicked'});" class="external-dark">Instagram</a></p>
                        <p><a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9mie-cyrille-279b36200/" title="Visit LinkedIn profile" onclick="gtag('event', 'click', {'event_category': 'Contact', 'event_action': 'LinkedIn', 'event_label': 'LinkedIn clicked'});" class="external-dark">LinkedIn</a></p>
                        <p><a href="https://github.com/jcyrille972" title="Visit LinkedIn profile" onclick="gtag('event', 'click', {'event_category': 'Contact', 'event_action': 'LinkedIn', 'event_label': 'LinkedIn clicked'});" class="external-dark">Github</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>