    <header class="menu">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-3">
          <a href="{{path('fr_home')}}" class="bolt">Jeremie <span class ="title-nav">CYRILLE</span></a>
            </div>
            <div class="col-9 text-al-end">
              <nav>
                <li><a href="{{path('us_home')}}" class="fade-in-text bolt">US</a></li>
                <li><a href="{{path('fr_carrer')}}" class="fade-in-text bolt">Carriere</a></li>
                <li><a href="{{path('fr_project')}}" class="fade-in-text bolt">Project</a></li>
                <li><a href="mailto:jeremie.cyrille@icloud.com" title="Send e-mail" onclick="gtag('event', 'click', {'event_category': 'Contact', 'event_action': 'E-mail', 'event_label': 'E-mail address clicked'});" class="external-dark bolt">Contact</a></li>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>